workflows/data-sanitizer.json
{
  "name": "Showcase: Data Sanitizer",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-48, 384]
    },
    {
      "parameters": {
        "jsCode": "// Mock messy job title data from HubSpot\nreturn [\n  { json: { raw_title: \"vp of sales & mktg\", name: \"John Smith\", email: \"john@acme.com\" } },\n  { json: { raw_title: \"chief revenue officer\", name: \"Jane Doe\", email: \"jane@techco.com\" } },\n  { json: { raw_title: \"sales rep / sdr\", name: \"Bob Wilson\", email: \"bob@startup.io\" } },\n  { json: { raw_title: \"founder & ceo\", name: \"Alice Chen\", email: \"alice@venture.co\" } },\n  { json: { raw_title: \"biz dev mgr\", name: \"Carlos Garcia\", email: \"carlos@growth.net\" } },\n  { json: { raw_title: \"head of partnerships\", name: \"Diana Lee\", email: \"diana@partner.com\" } }\n];"
      },
      "id": "bad-data",
      "name": "Bad Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 288]
    },
    {
      "parameters": {
        "jsCode": "// ====== EASY TO EDIT: Standard Job Title Tiers ======\n// Add, remove, or modify tiers here. The rest of the workflow adapts automatically.\n\nconst STANDARD_TIERS = [\n  { \n    name: \"Executive\", \n    examples: \"C-level, founders, presidents\", \n    is_decision_maker: true \n  },\n  { \n    name: \"Vice President\", \n    examples: \"VPs, SVPs, EVPs\", \n    is_decision_maker: true \n  },\n  { \n    name: \"Director\", \n    examples: \"Directors, Heads of\", \n    is_decision_maker: true \n  },\n  { \n    name: \"Manager\", \n    examples: \"Managers, Team Leads\", \n    is_decision_maker: false \n  },\n  { \n    name: \"Individual Contributor\", \n    examples: \"Reps, Associates, Specialists, Analysts\", \n    is_decision_maker: false \n  }\n];\n\n// Build the prompt list - show tier names clearly separated from examples\nconst prompt_list = STANDARD_TIERS.map(t => \n  `\"${t.name}\" - examples: ${t.examples}`\n).join('\\n');\n\n// Output the configuration\nreturn [{\n  json: {\n    tiers: STANDARD_TIERS,\n    tier_names: STANDARD_TIERS.map(t => t.name),\n    decision_maker_tiers: STANDARD_TIERS.filter(t => t.is_decision_maker).map(t => t.name),\n    prompt_list: prompt_list\n  }\n}];"
      },
      "id": "tiers-config",
      "name": "Standard Tiers Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 464]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-config",
      "name": "Merge Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [384, 384]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a job title classifier. Given a job title, respond with EXACTLY one of these tier names and nothing else:\n- Executive\n- Vice President\n- Director\n- Manager\n- Individual Contributor\n\nRespond with just the tier name. No punctuation, no explanation."
            },
            {
              "content": "=Classify this job title: \"{{ $json.raw_title }}\"\n\nValid tier names (respond with ONE of these exactly):\n{{ $json.prompt_list }}\n\nRespond with ONLY the tier name (e.g., \"Executive\" or \"Manager\"). Nothing else."
            }
          ]
        },
        "options": {}
      },
      "id": "ai-normalizer",
      "name": "AI Normalizer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [560, 384]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "name", "name": "name", "type": "string", "value": "={{ $('Merge Config').item.json.name }}"},
            {"id": "email", "name": "email", "type": "string", "value": "={{ $('Merge Config').item.json.email }}"},
            {"id": "original", "name": "original_title", "type": "string", "value": "={{ $('Merge Config').item.json.raw_title }}"},
            {"id": "standardized", "name": "standardized_tier", "type": "string", "value": "={{ $json.message.content.trim() }}"},
            {"id": "decision_maker", "name": "is_decision_maker", "type": "boolean", "value": "={{ $('Merge Config').item.json.decision_maker_tiers.includes($json.message.content.trim()) }}"}
          ]
        },
        "options": {}
      },
      "id": "standardized-output",
      "name": "Standardized Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [848, 384]
    },
    {
      "parameters": {
        "jsCode": "// Generate a summary report of the standardization\nconst results = items.map(i => i.json);\n\nconst summary = {\n  total_processed: results.length,\n  decision_makers: results.filter(r => r.is_decision_maker).length,\n  individual_contributors: results.filter(r => !r.is_decision_maker).length,\n  tier_breakdown: {},\n  details: results\n};\n\n// Count by tier\nresults.forEach(r => {\n  const tier = r.standardized_tier;\n  summary.tier_breakdown[tier] = (summary.tier_breakdown[tier] || 0) + 1;\n});\n\nreturn [{ json: summary }];"
      },
      "id": "summary",
      "name": "Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 384]
    },
    {
      "parameters": {
        "content": "## Self-Healing Data Sanitizer\nHubSpot data is always messy. This normalizes job titles automatically using AI.",
        "height": 180,
        "width": 236,
        "color": 3
      },
      "id": "sticky-title",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-48, 32]
    },
    {
      "parameters": {
        "content": "## Before\n- \"vp of sales & mktg\"\n- \"sales rep / sdr\"\n- \"biz dev mgr\"",
        "height": 184,
        "width": 244,
        "color": 2
      },
      "id": "sticky-before",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [208, 32]
    },
    {
      "parameters": {
        "content": "## After\n- Vice President\n- Individual Contributor  \n- Manager",
        "height": 184,
        "width": 244,
        "color": 4
      },
      "id": "sticky-after",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [864, 32]
    },
    {
      "parameters": {
        "content": "**Cost:** \n~$0.001 per title\nRuns 24/7, no human review needed",
        "height": 192
      },
      "id": "sticky-cost",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [512, 32]
    },
    {
      "parameters": {
        "content": "## Edit Tiers Here\nAdd/remove tiers in one place.\nEverything else adapts automatically!",
        "height": 120,
        "width": 232,
        "color": 6
      },
      "id": "sticky-config",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [96, 608]
    },
    {
      "parameters": {
        "content": "## 📐 Architecture & Design Decisions\n\n**Problem Solved:**\nNormalizes messy CRM job titles automatically\nFlags decision-makers for sales prioritization\n\n**Cost Analysis:**\n- AI normalization: ~$0.001/title\n- Runs 24/7, no manual review\n- Replaces data cleanup contractors\n\n**Technical Approach:**\n- Single config node drives all logic\n- Tier list auto-generates AI prompt\n- Decision-maker flag computed dynamically\n- Separation of config from execution\n\n**Data Flow:**\n- Config + Input → Merge → AI → Transform → Report\n- Original data preserved via node reference\n\n**Maintainability:**\n- Add/remove tiers in one place\n- Prompt and logic adapt automatically\n- No code changes for tier updates",
        "height": 724,
        "width": 320,
        "color": 7
      },
      "id": "sticky-talking-points",
      "name": "Design Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1232, 32]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {"node": "Bad Input Data", "type": "main", "index": 0},
          {"node": "Standard Tiers Config", "type": "main", "index": 0}
        ]
      ]
    },
    "Bad Input Data": {
      "main": [[{"node": "Merge Config", "type": "main", "index": 0}]]
    },
    "Standard Tiers Config": {
      "main": [[{"node": "Merge Config", "type": "main", "index": 1}]]
    },
    "Merge Config": {
      "main": [[{"node": "AI Normalizer", "type": "main", "index": 0}]]
    },
    "AI Normalizer": {
      "main": [[{"node": "Standardized Output", "type": "main", "index": 0}]]
    },
    "Standardized Output": {
      "main": [[{"node": "Summary Report", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
